.banner {
    text-align: center;
    background-image: url(img/usb.jpg);
    background-size: cover;
    padding: 100px 0;
    color: white;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner .boton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.banner .boton:hover {
    background-color: #0056b3;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: box-shadow 0.5s;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px rgba(0, 0, 0, 0.19);
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 20px;
}

.card .boton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

.card img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.about-section {
    background-color: #f1f1f1;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.about-logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 24px;
    color: white;
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}